body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

form {
    font-size: 1.5em;
}

input[type=number] {
    width: 6em;
    background: #323282;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}
.grad{
    background: #36368c;
    background: linear-gradient(to bottom right, #36368c, #222223);
}
